@import url('https://fonts.googleapis.com/css2?family=Maven+Pro&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;


.App, html, body, #root {
  height: 100%;
}

.App {
  text-align: center;
  font-family: 'Maven Pro', sans-serif;
  display: 'flex';
  flex-direction: 'column';
  background-color: #44A963;
}

.App-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
  transition: box-shadow 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  background-color: rgb(49, 0, 87);
  font-weight: 700;
  margin: 0;
}

.App-link {
  color: #61dafb;
}
